<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  
  <targets>
    <target name="file" xsi:type="File" 
            fileName="app.log"
            layout="${longdate} [${level:format=triletter:uppercase=true}] ${message}${onexception:inner=${newline}${exception:format=tostring}}" />
    <target name="console" xsi:type="ColoredConsole"
            layout="${longdate} [${level:format=triletter:uppercase=true}] ${message}${onexception:inner=${newline}${exception:format=tostring}}" />
  </targets>
  
  <rules>
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="*" minlevel="Info" writeTo="file, console" />
  </rules>
  
</nlog>
